<div	class="container	content">
  <div	class="row">
          <div	class="col-md-6	offset-md-3">
                  <span	class="anchor"	id="formLogin"></span>
                  <!-- form	card	login	with	validation	feedback	-->
                  <div	class="card	card-outline-secondary">
                          <div	class="card-header">
                                  <h3	class="mb-0">Ingresar festivales favoritos</h3>
                          </div>
                          <div	class="card-body">
                                  <form>
                                      <div	class="form-group">
                                          <label	for="nombre">Nombre del Festival</label>
                                          <input	type="text"	class="form-control"	id="nombre"	placeholder="Ingresar nombre..." #nombre>
                                      </div>
                                      <div	class="form-group">
                                          <label	for="lugar">Lugar</label>
                                          <input	type="text"	class="form-control"	id="lugar"	placeholder="Ingresar lugar..." #lugar>
                                      </div>
                                      <div	class="form-group">
                                          <label	for="Imagen	Url">Imagen	Url</label>
                                          <input	type="text"	class="form-control"	id="imagenUrl"	placeholder="Ingresar	url..." #url>
                                      </div>
                                      <button	type="submit"	class="btn	btn-primary" (click)="guardar(nombre.value, lugar.value, url.value)">Registrar festival</button>
                                  </form>
                          </div>
                  </div>
          </div>
  </div>
  <hr	class="mb-5">
  <div	class="row">
          <app-destino-festival *ngFor="let x of destinos" [destino] = "x"></app-destino-festival>
  </div>
</div>
