
  <div	class="card-content">
          <div	class="card-img">
                  <img	src="{{destino.imagenUrl}}"	alt="">
                  <span><h4>{{destino.nombre}}</h4></span>
          </div>
          <div	class="card-desc">
                  <h3>{{destino.nombre}}</h3>

                  <p>Descripción: Lorem	ipsum	dolor	sit	amet	consectetur,	adipisicing	elit.	Laboriosam,	voluptatum!	Dolorquo,	perspiciatis
                          voluptas	totam</p>

                  <p>Lugar: {{destino.lugar}}</p>
                          <a	href="#"	class="btn-card">Leer</a>
          </div>
  </div>

